


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary">
    <div class="container">
        <section class="footer-top padding-y-lg text-white">
            <div class="row">
                <aside class="col-md col-6">
                    <img class="logo" src="./assets/images/logodcc-1024x1024.png"
                    style="    max-height: 164px !important;">
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Contact Us</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> <i class="fa fa-map-marker"></i> Office Address : President-DCC Congress House, Mullackal, Alappuzha-688011</a></li>
                        <li> <a href="#"><i class="fa fa-map-marker"></i> DCC Office Alappuzha, R.SANKAR CONGRESS BHAVAN</a></li>
                        <li> <a href="#"><i class="fa fa-phone"></i>+91 998 150 30 20</a></li>
                        <li> <a href="#"><i class="fa fa-envelope"></i> info@agencify.com</a></li>
                      
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Quick Links</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Contact us</a></li>
                        <li> <a href="#">Gallery</a></li>
                        <li> <a href="#">Volunteer</a></li>
                        <li> <a href="#">Blood Donate</a></li>
                        <li> <a href="#">Feed Backs</a></li>
                        <!-- <li> <a href="#">Contact us</a></li> -->

                        
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Google Map</h6>
                    <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15740.489481879282!2d76.3440157!3d9.4980849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44d5fbfd290b2e2c!2sDCC%20Office%20Alappuzha%2C%20R.SANKAR%20CONGRESS%20BHAVAN!5e0!3m2!1sen!2sin!4v1614337880986!5m2!1sen!2sin"  style="border:0;    height: 174px;
    width: 234px;" allowfullscreen="" loading="lazy"></iframe>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Social</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"> <i class="fab fa-facebook"></i> Facebook </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-youtube"></i> Youtube </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- row.// -->
        </section>
        <!-- footer-top.// -->

        <section class="footer-bottom text-center">

            <p class="text-white">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
            <p class="text-muted">© 2021 Satmaya Digital Solutions, All rights reserved </p>
            <br>
        </section>
    </div>
    <!-- //container -->
</footer>