<!-- <div class="row">
    
        <img src="./assets/images/GANDHIJI-B1-1-scaled-1-1536x864.jpg" alt="">
     
</div> -->

<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo">

            </a>
        </div>


    </div>
</div>

<div style="background-image: url('./assets/images/GANDHIJI-B1-1-scaled-1-1536x864.jpg');background-size: cover;background-repeat:no-repeat;height:700px;">

    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box" style=" float: right;
                background: white;
                padding: 31px;
                margin-top: 168px;
                margin-right: 29px;
             
            ">
                    <!-- <form class="form-signin" [formGroup]="loginForm"> -->
                    <div class="account-logo" style="    width: 692px;
                    height: 193px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="assets/images/logodcc-1024x1024.png" alt="" style="height: 150px; width: 150px;">
                        </div>
                        <div class="col-sm-9">
                            <h3 style="margin-top: 11%;">DCC ALAPPUZHA LOGIN</h3>

                        </div>
                    </div>
                        <a>
                        </a>
                    </div>
                    <div class="form-group">
                        <label>Username </label>
                        <input type="text"  autofocus="" class="form-control">
                        <!-- <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">Username is required</div>
                    </div> -->
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password"  class="form-control" >
                        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div> -->
                    </div>



                    <div class="form-group text-center">
    
    <button class="btn btn-danger" style="background-image: linear-gradient(50deg,#FF9933,#138808); color: black; border: none;" routerLink="/admin">Login</button>
                        <!-- <button class="btn btn-success" (click)="shopadmin()"></button> -->
                    </div>


                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p style="color: black;">(c) DEVELOPED AND MAINTAINED BY SATMAYA DIGITAL SOLUTIONS</p>
</div>
<!-- 
<embed src="http://45.79.122.125:8080/prestige/api/unprotect/ins-report/view/825
  " width="500" height="375" autofocus="true"> -->

<!-- <embed src="http://45.79.122.125:8080/prestige/api/unprotect/ins-report/view/825" type=""> -->