<app-navigation></app-navigation>
<div class="container">

    <div class="card" style="    background: #005a87;
    padding: 40px;
    color: white; margin-top: 20px;">
        <div class="row">
            <div class="col-sm-6">
                <h3>CONTACT US</h3>
                <p>DCC Office Alappuzha, R.SANKAR CONGRESS BHAVAN</p>
                <hr>
            </div>
            <div class="col-sm-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15740.489481879282!2d76.3440157!3d9.4980849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44d5fbfd290b2e2c!2sDCC%20Office%20Alappuzha%2C%20R.SANKAR%20CONGRESS%20BHAVAN!5e0!3m2!1sen!2sin!4v1614337880986!5m2!1sen!2sin"
                    style="border:0;    height: 400px;
                width: 600px;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

</div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="    background: #005a87;
            padding: 40px;
    height: 300px;

            color: white;">
                <h5>FOR WEBSITE RELATED SUGGESTIONS</h5>
                <p>Anil K Antony Convener, KPCC Digital Media Cell Anjanam, Easwara Vilasam Road, Vazhuthakkad
                    Thiruvananthapuram  </p>
                    <ul>
                        <li>Phone: 0471-2329303</li>
                        <li>anilkantony@gmail.com</li>
                    </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="    background: #005a87;
            padding: 40px;
    height: 300px;

            color: white;">
                <h5> DCC PRESIDENT</h5>
                <p>Office Address President-DCC Congress House, Mullackal, Alappuzha-688011</p>
                <ul>
                    <li>9446344957</li>
                    <li>m.lijukpcc@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="    background: #005a87;
            padding: 40px;
    height: 300px;

            color: white;">
                <h5>CONTACT</h5>
                <p>Cullen Rd, Mullakkal, Alappuzha, Kerala 688011</p>
               
                <ul>
                    <li>Phone: 0477-2251413</li>
                    
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="container" style="margin-top: 20px;">
    <div class="card" style="    background: #005a87;
    padding: 40px;color: white; margin-bottom: 20px;">
    <h5>Write us Email</h5>

<div class="row">
    <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="First Name">

    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Last Name">

    </div>
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6" style="margin-top: 20px;">
        <input type="text" class="form-control" placeholder="Email Id">

    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-6"  style="margin-top: 20px;">
        <textarea  class="form-control" name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="col-sm-6"></div>

    <button class="btn btn-primary" style="    margin-left: 12px;
    margin-top: 12px;
    width: 205px;">Submit</button>
</div>
    </div>
</div>

<app-footer></app-footer>