<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>


                


                <li routerLinkActive="active">
                    <a routerLink="/bannerimages"><img src="https://img.icons8.com/color/48/000000/india-circular.png"/> <span>BANNER IMAGES</span></a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/galleryimages"><img src="https://img.icons8.com/color/48/000000/india-circular.png"/> <span>GALLERY IMAGES</span></a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/dcc-presidentnews"><img src="https://img.icons8.com/color/48/000000/newspaper-.png"/> <span>DCC PRESIDENT NEWS</span></a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/alappuzhanews"><img src="https://img.icons8.com/color/48/000000/newspaper-.png"/> <span>ALAPPUZHA NEWS</span></a>
                </li>
                
                <li routerLinkActive="active">
                    <a routerLink="/dccpresidents"><img src="https://img.icons8.com/color/48/000000/leadership.png"/> <span>DCC PRESIDENTS</span></a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/ourmla"><img src="https://img.icons8.com/color/48/000000/leadership.png"/> <span>OUR MLA'S</span></a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/ourmps"><img src="https://img.icons8.com/color/48/000000/leadership.png"/> <span>OUR MP'S</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
