<app-navigation></app-navigation>

<div class="container" style="padding-left: 138px !important;
padding: 50px;">

    <h3 >BECOME A CONGRESSMAN</h3>
<hr>
    <p>“The Indian National Congress has always represented a secular, democratic, just and inclusive India-</p>
    <p>An India that is empowering the disadvantaged and the discriminated;</p>
    <p>An India that is blending tradition with modernity;</p>
    <p>An India that is anchored in unity amidst its many diversities.”</p>&nbsp;
    <p>– Smt. Sonia Gandhi</p>
    <p>If your vision for the nation is the same as ours, become a member of the Indian National Congress and together we will build a better India.</p>
    <p>Before you get started, keep your Voter ID handy.</p>
</div>


<app-footer></app-footer>


